*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  margin: 0 auto;
}
#input {
  width: 50vw;
  height: 15rem;
  padding: 0.5rem;
  resize: none;
  font-family: sans-serif;
  font-size: 1rem;
  overflow-y: auto;
}
#input::-webkit-scrollbar {
  display: none;
}
